@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        h1, h3, h4 {
            color: black
        }
    </style>
            
</head>
<h1 style="font-weight:bold">Giới thiệu</h1>
<h4>NowSaiGon là local brand được thành lập và xuất hiện lần đầu tiên vào đầu tháng 07-2020.</h4>
<h4>
    Với nổ lực không ngừng NowSaiGon đã mang đến một góc nhìn khác hơn về giá thành của thương hiệu VIỆT
    Bước ngoặc lớn nhất vào tháng 05-2021 NowSaiGon tự hào là local đầu tiên đưa sản phẩm về mức giá #SALE 99K nhưng vẫn đảm bảo tuyệt đối chất 
    lượng đầu ra của thương hiệu với tiêu chí : “ rẻ - đẹp - chất lượng “
</h4>
<h4>
    Và hứa hẹn trong tương lai chúng ta sẽ cùng bùng nổ hơn nữa chứ không phải chỉ riêng khoảnh khắc này
    Hãy cùng nhau đón chờ những sản phẩm mới nhất từ NowSaiGon nhé. Cảm ơn các bạn rất nhiều!
</h4>