@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
</head>

    <h3><a href="#" style="color:black">CONTACT</a></h3>
    <ul>
        <li>Hotline: 0933782768</li>
        <li>IG: nowsaigon</li>
        <li>fb.com/nowsaigon</li>
        <li>Store I: 445 Sư Vạn Hạnh, P.12, Q.10, TP.HCM.</li>
        <li>Store II: 48 Trần Quang Diệu, P.14, Q.3, TP.HCM.</li>
        <li> Store III: 350 Điện Biên Phủ, P.17, Q. Bình Thạnh, TP.HCM.</li>
        <li>Store IV: G-Town 2, 136 Nguyễn Hồng Đào, P.14, Q.Tân Bình, TP.HCM.</li>
        <li>Store V: 463 Quang Trung, P.10, Q. Gò Vấp, TP.HCM.</li>
        <li>Store VI: TNP - 26 Lý Tự Trọng, P. Bến Nghé, Q.1, TP.HCM</li>
        <li>Store VII: TNP (Sense Market) - Đối Diện Số 90 Lê Lai, P. Bến Nghé, Q.1, TP.HCM.</li>
        <li>Store VIII: TNP Hanoi - Vincom Bà Triệu, Tầng 7, Tháp 2, 191 Bà Triệu, Lê Đại Hành, Hai Bà Trưng, Hà Nội.</li>
    </ul>
