@{
    ViewData["Title"] = "Index";
}

<h1>duy neo</h1>

@await Html.PartialAsync("_alert")
<a asp-action="signup" class="btn btn-primary">Đăng Ký</a>

<a asp-action="signin" class="btn btn-secondary">Đăng Nhập</a>
