@{
    ViewData["Title"] = "InfoUser";
}



<h1 class="alert alert-primary">Thông tin user</h1>

<h3>@ViewBag.nameuser</h3>
<h3>@ViewBag.emailuser</h3>


<a asp-action="logout" class="btn btn-danger">Đăng xuất</a>