@{

    string message = TempData["message"] as string;

    string messageType = TempData["messageType"] as string;
    messageType ??= "success";





}

@if (message != null)
{
    <div class="alert alert-@messageType">@message</div>
}
