@{

    var Name = HttpContextAccessor.HttpContext.Session.GetString("tenkhach");

}
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@if (Name != null)
{
<div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Name
    </button>
    <div class="dropdown-menu">
        @*<a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>*@
        @*<div class="dropdown-divider"></div>*@
        <a asp-controller="account" asp-action="Logout" class="dropdown-item text-danger">Đăng xuất</a>
    </div>
</div>

}
else { 
    
    <a asp-controller="account" asp-action="index">Đăng nhập</a>
}